.cbp-so-scroller {
	 margin-top : 50px ;
	estouro : oculto;
}

.cbp-so-section {
	 margin-bottom : 15em ;
	posição : relativa;
}

/ * Limpar floats de children * / 
.cbp-so-section : antes ,
 .cbp-so-section : após {
	 content : "" ;
	display : tabela;
}

.cbp-so-section : após {
	 clear : ambos;
}

/ * Estilo de texto * / 
.cbp-so-section  h2 {
	 font-size : 5em ;
	font-weight : 300 ;
	altura da linha : 1 ;
}

.cbp-so-section  p {
	 tamanho da fonte : 2em ;
	font-weight : 300 ;
}

/ * Lados * / 
.cbp-so-side {
	 largura : 50% ;
	float : esquerda;
	margem : 0 ;
	preenchimento : 3em  4% ;
	estouro : oculto;
	min-altura : 12em ;
}

/ * Limpar os floats das crianças * / 
.cbp-so-side : antes ,
 .cbp-so-side : após {
	 content : "" ;
	display : tabela;
}

.cbp-so-side : após {
	 clear : ambos;
}

.cbp-so-side-right {
	 text-align : left;
}

.cbp-so-side-left {
	 text-align : right;
}

.cbp-so-side-right  img {
	 float : esquerda;
}

.cbp-so-side-left  img {
	 float : right;
}

/ * Estado inicial (oculto ou qualquer outra coisa) * / 
.cbp-so-init  .cbp-so-side {
	 opacidade : 0 ;
	-webkit-transition : nenhum;
	-moz-transition : nenhum;
	transição : nenhum;
}

.cbp-so-init  .cbp-so-side-left {
	 -webkit-transform : translateX (-80px);
	-moz-transform : translateX (-80px);
	transformar : translateX (-80px);
}

.cbp-so-init  .cbp-so-side-right {
	 -webkit-transformação : translateX (80px);
	-moz-transform : translateX (80px);
	transform : translateX (80px);
}

/ * Estado Animado * / 
/ * adicioná-lo estados finais (de transição) ou seus efeitos (animações) para cada lado * / 
.cbp tão secção .cbp tão animado  .cbp tão do lado esquerdo ,
 .cbp- assim- .cbp-so-animate  .cbp-so-side-right {
	 -webkit-transição : -webkit-transform 0.5s , opacidade 0.5s ;
	-moz-transition : -moz-transform 0.5s , opacidade 0.5s ;
	transição : transformar 0.5s , opacidade 0.5s ;
	-webkit-transform : translateX (0px);
	-moz-transform :translateX (0px);
	transformar : translateX (0 px);
	opacidade : 1 ;
}

/ * Por exemplo, adicione um atraso para o lado direito:
.cbp-so-section.cbp-so-animar .cbp-so-side-right {
	-webkit-transition-delay: 0,2s;
	atraso de transição -moz: 0,2s;
	atraso de transição: 0,2s;
}
* /

/ * Exemplo de consultas de mídia * /

@ tela de mídia e (largura máxima: 73.5em ) {
	 .cbp-so-scroller {
		 font-size : 65% ;
	}

	.cbp-so-section  h2 {
		 margem : 0 ;
	}

	Icb-so-side  img {
		 max-width : 120% ;
	}
}

@ media screen e (max-width: 41.125em ) {
	 .cbp-so-side {
		 float : nenhum;
		largura : 100% ;
	}

	.cbp tão lado  img {
		 max-width : 100% ;
	}
}