/* estilos da pesquisa */
main div#janela_formulario {
    width:860px;
    margin:50px auto 30px;
}

main div#janela_formulario form {
    width:470px;
    margin:10px auto;
}

main div#janela_formulario form h2  {
    font-family: sans-serif;
    color:#C5996B;
}

main div#janela_formulario form p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
    background: #F00;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    width:120px;
    text-align: center;
}

main div#janela_formulario form input[type="text"] {
    width:280px;
    padding:10px;
    border:1px solid #CDC99B;
    border-radius: 5px;
    outline: none;
    margin-bottom:15px;
}

main div#janela_formulario form select {
    width: 280px;
    height: auto;
    padding: 10px;
    border: 1px solid #CDC99B;
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px;
}

main div#janela_formulario form input[type="submit"] {
    display: block;
    padding:10px 20px;
    margin-top:15px;
    color: #FFF;
    border:0;
    border-radius: 5px;
    background-color: #C5996B;
    outline: none;
    cursor: pointer;
}
/* fim do estilo da pesquisa */