body { margin:0 }
header {
    width:100%;
    height:47px;
    background-color:#EDEDDC;
    border-bottom:1px solid #666;
    padding-top:20px;
}

div#header_central {
    width:800px;
    height:47px;
    margin:0 auto;
}

main {
    width:960px;
    min-height: 500px;
    padding:20px 0;
    margin:0 auto;
}

footer {
    clear: both;
    width:100%;
    height:60px;
    border-top:1px solid #ddd;
}

div#footer_central {
    width:800px;
    margin:0 auto;
}

div#footer_central p {
    font-family: sans-serif;
    font-size: 11px;
    text-align: center;
}